<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2 align=center>what's your color?</h2>

<video  id="myVideo" width="400" height="300" style="border: 1px solid #ddd;"></video>
<canvas id="myCanvas" width="400" height="300" style="border: 1px solid #ddd;"></canvas><br>

<input type=button value="카메라 연결" onclick="{getVideo()}">
<input type=button value="사진 찍기" onclick="{takeSnapshot()}"><br>
<script src="js/webcam.js"></script>
</body>
</html>